:root {
    --component: #1cb0f6;
    --border-color: gainsboro;
    --book-color: var(--component);
    --border: 2px solid var(--border-color);
    --border-radius: 1rem;
    --border-radius-small: 0.75rem;
    --border-padding: 1rem;
    --text-color: #4b4b4b;
    --text-jump-color: #509b98;
    --hover-color: #f2f2f2;
    --danger: hsl(4, 100%, 61%);
    --main-width: 65%;
}



